aside.menu-area {
    background-color: rgb(80, 80, 80);
    box-shadow: var(--shadow);
}

nav.menu {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.menu a {
    color: #FFF;
    padding: 15px;
    text-decoration: none;
}

.menu a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}